/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html {
  scroll-behavior: smooth;
}

.carbon-bg {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjYiPgo8cmVjdCB3aWR0aD0iNiIgaGVpZ2h0PSI2IiBmaWxsPSIjMDAwMDAwIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMNiA2IiBzdHJva2U9IiMxMDEwMTAiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8cGF0aCBkPSJNNiAwTDAgNiIgc3Ryb2tlPSIjMTAxMDEwIiBzdHJva2Utd2lkdGg9IjEiPjwvcGF0aD4KPC9zdmc+");
}

.arrow-button {
  animation: bounceInfinite 2s infinite;
}

@keyframes bounceInfinite {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* stagger */
.stagger-item {
  opacity: 0;
  transform: translateY(10px); /* Initially off-screen */
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
}

.stagger-item.visible {
  opacity: 1;
  transform: translateY(0); /* Move element into position */
}


@media (min-width:1281px) {
  
}